<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
</head>
<body>
<ul>
    <li>Nome -> {{ curso.nome }}</li>

    <li>Código -> {{ curso.codigo }}</li>

    <li>Grau -> <a href='{% url 'by_grau' %}?grau={{ curso.grau }}'>{{ curso.grau }}</a></li>

    <li><a href='{% url 'departs' %}'>Departamentos</a>:</li>
        <ul>
        {% for depar in curso.departamentos %}
            <li><a href='{% url 'by_depart' %}?depart={{ depar }}'>{{ depar }}</a></li>
        {% endfor %}
        </ul>

    <li><a href='{% url 'areas' %}'>Áreas Científicas</a>:</li>
        <ul>
        {% for area in curso.areas %}
            <li><a href='{% url 'by_area' %}?area={{ area }}'>{{ area }}</a></li>
        {% endfor %}
        </ul>

    <li><a href='{% url 'locais' %}'>Local</a> -> <a href='{% url 'by_local' %}?local={{ curso.local }}'>{{ curso.local }}</a></li>
</ul>
</body>
</html>