<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
</head>
<body>
<ul>
    <li>Nome -> {{ curso.nome }}</li>

    <li>Código -> {{ curso.codigo }}</li>

    <li>Grau -> {{ curso.grau }}</li>

    <li>Departamentos:</li>
        <ul>
        {% for depar in curso.departamentos %}
            <li>{{ depar }}</li>
        {% endfor %}
        </ul>

    <li>Áreas Científicas:</li>
        <ul>
        {% for area in curso.areas %}
            <li>{{ area }}</li>
        {% endfor %}
        </ul>

    <li>Local -> {{ curso.local }}</li>
</ul>
</body>
</html>